{% load static %}


<html>
    <head>
        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
        <link rel="stylesheet" href="{% static "css/form.css" %}">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    </head>
<body>
    <div class="container">
        <div class="sections">
            {% if not user.is_authenticated %}
            <h1>Welcome to UCA Roommate Matching application</h1>
            {% else %}
            <div class="row">
                <div class="col col-md-5">
                    <h1>Admin Panel</h1>
                </div>
                <div class="col col-md-5">
                    <a href="{% url 'logout' %}"><button class="btn btn-danger">LOGOUT</button></a>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="sections row">
            {% if not user.is_authenticated %}
            <div class="col col-ms-6">
                <p>
                    Welcome to the application.<br/> 
                    Our powerfull algorithm matches people in a most efficient way, so everyone will be happy. <br/>  
                </p>
            </div>
            <div class="col col-ms-6 text-center">
                <a class="text-center" href="{% url 'SURVEYS' %}"><button class="btn btn-primary" style="margin-bottom: 20px;">Start the survey</button></a>
                <br/>
                <a href="{% url 'login' %}"><button class="btn btn-danger">LOGIN</button></a>
            </div>
            {% else %}
            <div class="col col-ms-4 text-center">
                <h3>Naryn</h3>
                <div class="row">
                    <div class="col col-ms-6">
                        <h4><a href="{% url 'naryn-male' %}">Male</a></h4>
                    </div>      
                    <div class="col col-ms-6">
                        <h4><a href="{% url 'naryn-female' %}">Female</a></h4>
                    </div>      
                </div>
            </div>
            <div class="col col-ms-4 text-center">
                <h3>Khorog</h3>
                <div class="row">
                    <div class="col col-ms-6">
                        <h4><a href="{% url 'khorog-male' %}">Male</a></h4>
                    </div>      
                    <div class="col col-ms-6">
                        <h4><a href="{% url 'khorog-female' %}">Female</a></h4>
                    </div>      
                </div>
            </div>
            <div class="col col-ms-4 text-center">
                <h3>Tekeli</h3>
                <div class="row">
                    <div class="col col-ms-6">
                        <h4><a href="{% url 'tekeli-male' %}">Male</a></h4>
                    </div>      
                    <div class="col col-ms-6">
                        <h4><a href="{% url 'tekeli-female' %}">Female</a></h4>
                    </div>      
                </div>
            </div>
        </div>
        {% block content %}
        {% endblock %}
        {% endif %} 
    </div>
</body>
</html>
