{% load bootstrap4 %}
{% load static %}


<head>
  <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
  <link href="{% static "css/index.css" %}" rel="stylesheet">
</head>

<body>


    <h4>
      <a href="{% url 'HOME' %}">HOME</a>

      {% if user.is_authenticated %}
        | <a href="{% url 'logout' %}">LOGOUT</a>

        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'naryn-male' %}">Naryn Males</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'naryn-female' %}">Naryn Females</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'khorog-male' %}">Khorog Males</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'khorog-female' %}">Khorog Females</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'tekeli-male' %}">Tekeli Males</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'tekeli-female' %}">Tekeli Females</a>
          </li>
        </ul>


      {% else %}
        | <a href="{% url 'login' %}">LOGIN</a>
      {% endif %}
    </h4>



  <!-- <img src="{% static "images/logo.png" %}"> -->
</body>


{% block content %}
{% endblock %}
